security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\User: 'auto'
    
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
        app_party_provider:
            entity:
                class: App\Entity\Party
                property: id
    
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        
        # Eltern-Bereich (Session-basiert, kein UserInterface)
        parent:
            pattern: ^/parent
            lazy: true
            stateless: false
            # Kein provider, da wir Session-basierte Authentifizierung nutzen
        
        # Admin-Bereich (mit UserInterface)
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: admin_dashboard
            login_throttling:
                max_attempts: 5
                interval: '1 minute'
            logout:
                path: app_logout
                target: home
    
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/parent/login, roles: PUBLIC_ACCESS }
        - { path: ^/parent, roles: PUBLIC_ACCESS }  # Session-basiert

when@test:
    security:
        password_hashers:
            # By default, password hashers are resource intensive and take time. This is
            # important to generate secure password hashes. In tests however, secure hashes
            # are not important, waste resources and increase test times. The following
            # reduces the work factor to the lowest possible values.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
