[Unit]
Description=ChefOfTheDay Erinnerungen Timer (Mo-Fr 8:00)

[Timer]
OnCalendar=Mon..Fri *-*-* 08:00:00
Persistent=true

[Install]
WantedBy=timers.target
